# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotLib
4. ScikitLearn

| Data Science Tools |
| ---------- |
| MySQL |
| GitHub |
| R Studio |
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author

Praveen TV